@model SOLID.Database.Models.Conta
@{
    ViewData["Title"] = "Depositar";
}

<div class="card">
    <div class="card-header">
        Operação realizada com sucesso!
    </div>
  <div class="card-body">
      <h5>Olá @Model.Nome</h5>
      <p class="card-text">
          @Html.Label("Saldo Atual: ")
          @Html.DisplayFor(md => Model.Saldo)
      </p>
  </div>
</div>